h1 {
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'brotesque';
    font-size: 30px;
    color: #fff;
    margin-top: 50%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }
}
