* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
h1 {
    font-weight: bolder;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 20px;
    color: #fff;
    margin-top: 20%;
}